[Desktop Entry]
Encoding=UTF-8
Name=Paradigm
Comment=Paradigm P2P Cryptocurrency
Exec=paradigm-qt %u
Terminal=false
Type=Application
Icon=paradigm128
MimeType=x-scheme-handler/paradigm;
Categories=Office;Finance;
Name[en_US]=paradigm-qt.desktop
