*.sublime-project
*.sublime-workspace
todo.txt
reset-files.bash

*.tar.gz

*.exe
src/paradigm
src/paradigmd
src/paradigm-cli
src/paradigm-tx
src/test/test_paradigm
src/qt/test/test_paradigm-qt
src/bench/bench_paradigm

.deps
.dirstamp
.libs
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.pyc
*.o
*.o-*
.paradigm
*.a
*.pb.cc
*.pb.h

*.log
*.trs
*.dmg

*.json.h
*.raw.h

#libtool object files
*.lo
*.la

# Unit-tests
Makefile.test
paradigm-qt_test
src/test/buildenv.py

# Resources cpp
qrc_*.cpp

# Mac specific
.DS_Store
build

#lcov
*.gcno
*.gcda
/*.info
test_paradigm.coverage/
total.coverage/
coverage_percent.txt

#build tests
linux-coverage-build
linux-build
win32-build
qa/pull-tester/run-bitcoind-for-test.sh
qa/pull-tester/tests_config.py
qa/pull-tester/cache/*
qa/pull-tester/test.*/*
qa/tmp
cache/
share/BitcoindComparisonTool.jar

!src/leveldb*/Makefile

.cproject
.project
.autotools
/doc/doxygen/

libbitcoinconsensus.pc
src/qt/paradigm-qt.bash
qa/pull-tester/tests-config.sh

#development symlinks
paradigm-cli
paradigmd
paradigm-qt
